builds.clburlison.net {
  tls github@clburlison.com
  root www
  browse / www/Caddyr/caddyr.tpl

  rewrite / {
    to /{uri}?sort=name&amp;order=desc
    if {uri} not_has order
    if {uri} not_has /Caddyr/
    if {uri} not_has json
    if {uri} not_has zip
  }

  log access.log {
    rotate {
        size 100 # Rotate after 100 MB
        age  14  # Keep log files for 14 days
        keep 5  # Keep at most 5 log files
    }
  }

  errors {
    404 404.html
    log error.log {
        size 100 # Rotate after 100 MB
        age  14 # Keep rotated files for 14 days
        keep 10  # Keep at most 5 log files
    }
}
}
